/* You can add global styles to this file, and also import other style files */

@use './styles/breakpoints' as *;
@forward './styles/breakpoints';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

app-navbar {
  color: blue;
}